.description-section {
    white-space: pre-wrap;
    font-family: "Open Sans", Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
}

.hidden {
    text-decoration: line-through;
}

@media print {
    .hidden {
        display: none;
    }
}