<div class="resume">
    <h1 class="resume-name">{{ profile?.Name }}</h1>
    <div class="resume-headline">{{ profile?.Headline }}</div>
    <div class="resume-info-bar">
        <mat-icon class="vertically-top" [inline]="true">email</mat-icon><a
            href="mailto:matt@gopitts.net">matt&#64;gopitts.net</a>
        <mat-icon class="vertically-top" [inline]="true">link</mat-icon><a
            href="https://linkedin.com/in/mattpitts">https://linkedin.com/in/mattpitts</a>
    </div>
    <div class="resume-grid">

        <div class="resume-left-column">
            <div class="resume-section-name">Summary</div>
            <p>{{ profile?.Summary }}</p>

            <div class="resume-section-name">Skills</div>
            <div>
                <ul class="skills">
                    <li>Java</li>
                    <li>Linux</li>
                    <li>Team Lead</li>
                    <li>Continuous Delivery</li>
                    <li>Continuous Integration</li>
                    <li>Software Security</li>
                    <li>AWS</li>
                    <li>GCP</li>
                    <li>Python</li>
                    <li>Golang</li>
                </ul>
            </div>

            <div class="resume-section-name">Certifications</div>
            <div *ngFor="let i of profile?.Certifications">
                <div class="print-nopagebreak">
                    <div class="institution-name">{{ i.Title }}</div>
                    <div class="">{{ i.Institution }}</div>
                    <elegant-description [text]="i.Description"></elegant-description>
                </div>
            </div>

            <div class="print-nopagebreak">
                <div class="resume-section-name">Projects</div>
                <div *ngFor="let i of profile?.Projects">
                    <div class="position-title">{{ i.Title }}</div>
                    <div class="resume-subheader"><mat-icon class="vertically-top"
                            [inline]="true">calendar_month</mat-icon>{{ i.StartDate }} - {{ i.EndDate }}</div>
                    <elegant-description [text]="i.Description"></elegant-description>
                </div>
            </div>
        </div>

        <div class="resume-right-column">
            <div class="resume-section-name">Experience</div>
            <div *ngFor="let experience of profile?.Experience">
                <div *ngFor="let position of experience.Positions">
                    <div class="print-nopagebreak">
                        <div class="position-title">{{ position.Title }}</div>
                        <div class="institution-name">{{ experience.Company }}</div>
                        <div class="resume-subheader">
                            <mat-icon class="vertically-top" [inline]="true">calendar_month</mat-icon>
                            {{ position.StartDate }} - {{ position.EndDate || "Present" }}
                            <span class="pull-right" [hidden]="!position.Location"><mat-icon class="vertically-top"
                                    [inline]="true">location_on</mat-icon>{{ position.Location }}</span>
                        </div>
                        <elegant-description [text]="position.Description"></elegant-description>
                    </div>
                </div>
            </div>
            <div class="resume-section-name">Education</div>
            <div *ngFor="let i of profile?.Education">
                <div class="print-nopagebreak">
                    <div>{{ i.Subtitle }}</div>
                    <div class="institution-name">{{ i.Title }}</div>
                    <div class="resume-subheader"><mat-icon class="vertically-top"
                            [inline]="true">calendar_month</mat-icon>{{ i.StartDate }} - {{ i.EndDate }}</div>
                    <elegant-description [text]="i.Description"></elegant-description>
                </div>
            </div>
        </div>
    </div>
</div>