<div class="resume-root">
    <div class="profile-name">{{ profile?.Name }}</div>
    <div class="profile-headline">{{ profile?.Headline }}</div>
    <div class="resume-info-bar">
        <mat-icon class="vertically-top" [inline]="true">email</mat-icon><a
            href="mailto:matt@gopitts.net">matt&#64;gopitts.net</a>
        <mat-icon class="vertically-top" [inline]="true">phone</mat-icon>336.202.3913
        <mat-icon class="vertically-top" [inline]="true">link</mat-icon><a
            href="https://linkedin.com/in/mattpitts">https://linkedin.com/in/mattpitts</a>

        <mat-icon class="vertically-top" [inline]="true">link</mat-icon><a
            href="https://matt.gopitts.net">https://matt.gopitts.net</a>
    </div>
    <div class="split-columns">
        <div>
            <span class="resume-section-name">Summary</span>
            <p class="profile-summary">{{ profile?.Summary }}</p>
        </div>
        <div>
            <span class="resume-section-name">Relevant Skills</span>
            <div class="resume-section-content">
                <ul class="skills" cdkDropList>
                    @for (skill of skills; track skill) {
                    <li><span>{{ skill }}</span>
                        <!-- <mat-icon cdkDragHandle class="vertically-top action-icon" [inline]="true"
                        aria-label="Reorder this project">drag_handle</mat-icon> -->
                        <mat-icon class="vertically-top action-icon noprint" [inline]="true"
                            (click)="removeSkill(skill)" aria-label="Remove this skill">close</mat-icon>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <span class="resume-section-name">Certifactions</span>
    <div class="split-columns resume-section-content">
        <ng-container *ngFor="let i of profile?.Certifications">
            <div>
                <div class="institution-name">{{ i.Title }}</div>
                <div class="">{{ i.Institution }}</div>
                <timeline-description [text]="i.Description"></timeline-description>
            </div>
        </ng-container>
    </div>

    <div [ngClass]="{'noshow': highlightedProjects.length == 0}">
        <span class="resume-section-name">Highlighted Project Experience</span>
        <div class="resume-section-content" cdkDropList>
            @for (i of highlightedProjects; track i) {
            <div class="timeline" cdkDrag>
                <div class="timeline-info">
                    <div class="timeline-time">
                        {{ i.StartDate }} - {{ i.EndDate || "Present" }}
                    </div>
                </div>
                <div class="timeline-bar">
                    <div class="dot"></div>
                    <div class="bar"></div>
                </div>
                <div class="timeline-detail">
                    <div class="pull-right noprint">
                        <mat-icon cdkDragHandle class="vertically-top action-icon" [inline]="true"
                            aria-label="Reorder this project">drag_handle</mat-icon>
                        <mat-icon class="vertically-top action-icon" [inline]="true" (click)="removeProject(i)"
                            aria-label="Remove this project">close</mat-icon>
                        <mat-icon class="vertically-top action-icon" [inline]="true" (click)="unHighlightProject(i)"
                            aria-label="Un-Highlight this project">arrow_downward</mat-icon>
                    </div>
                    <div class="timeline-title">{{ i.Title }}</div>
                    <timeline-description [text]="i.Description"></timeline-description>
                </div>
            </div>
            }
        </div>
        <div class="pagebreak"></div>
    </div>

    <span class="resume-section-name">All Experience</span>
    <div class="timeline resume-section-content">
        @for (experience of profile?.Experience; track experience) {
        @for (position of experience.Positions; track position) {
        <div class="timeline-info">
            <div class="timeline-time">
                {{ position.StartDate }} - {{ position.EndDate || "Present" }}
            </div>
            <span class="timeline-location" [hidden]="!position.Location">{{ position.Location }}</span>
        </div>
        <div class="timeline-bar">
            <div class="dot"></div>
            <div class="bar"></div>
        </div>
        <div class="timeline-detail">
            <div class="timeline-title">{{ position.Title }}</div>
            <div class="institution-name">{{ experience.Company }}</div>
            <timeline-description [text]="position.Description"></timeline-description>
        </div>
        }
        }
    </div>

    <span class="resume-section-name">All Projects</span>
    <div class="resume-section-content">
        @for (i of profile?.Projects; track i) {
        <div class="timeline" cdkDrag>
            <div class="timeline-info" [ngClass]="{'hidden': i.hide}">
                <div class="timeline-time">
                    {{ i.StartDate }} - {{ i.EndDate || "Present" }}
                </div>
            </div>
            <div class="timeline-bar" [ngClass]="{'hidden': i.hide}">
                <div class="dot"></div>
                <div class="bar"></div>
            </div>
            <div class="timeline-detail" [ngClass]="{'hidden': i.hide}">
                <div class="pull-right noprint">
                    <mat-icon cdkDragHandle class="vertically-top action-icon" [inline]="true"
                        aria-label="Reorder this project">drag_handle</mat-icon>
                    <mat-icon class="vertically-top action-icon" [inline]="true" (click)="hideProject(i)"
                        aria-label="Hide this project" [ngClass]="{'noshow': i.hide}">cancel</mat-icon>
                    <mat-icon class="vertically-top action-icon" [inline]="true" (click)="unhideProject(i)"
                        aria-label="Hide this project" [ngClass]="{'noshow': !i.hide}">check_circle</mat-icon>
                    <mat-icon class="vertically-top action-icon" [inline]="true" (click)="highlightProject(i)"
                        aria-label="Highlight this project">arrow_upward</mat-icon>
                </div>
                <div class="timeline-title">{{ i.Title }}</div>
                <timeline-description [text]="i.Description"></timeline-description>
            </div>
        </div>
        }
    </div>

    <span class="resume-section-name">Education</span>
    <div class="timeline resume-section-content">
        <ng-container *ngFor="let i of profile?.Education">
            <div class="timeline-info">
                <div class="timeline-time">
                    {{ i.StartDate }} - {{ i.EndDate || "Present" }}
                </div>
            </div>
            <div class="timeline-bar">
                <div class="dot"></div>
                <div class="bar"></div>
            </div>
            <div class="timeline-detail">
                <div class="timeline-title">{{ i.Title }}</div>
                <div class="institution-name">{{ i.Subtitle }}</div>
                <timeline-description [text]="i.Description"></timeline-description>
            </div>
        </ng-container>
    </div>
</div>
<div class="pull-right resume-footer noprint">
    Version: {{ profile?.GeneratedAt }}
</div>