<div class="resume-container">
    <div class="resume" [hidden]="profileLoaded"><mat-progress-bar mode="indeterminate"></mat-progress-bar>Rendering
        resume. This can take up to one minute while retrieving my profile from LinkedIn, please be patient. Thanks!
    </div>
    <div class="resume" [hidden]="!profileLoaded">
        <!-- <resume-elegant [profile]="profile"></resume-elegant> -->
        <resume-timeline [profile]="profile"></resume-timeline>
    </div>
    <mat-card class="noprint resume-controls">
        <mat-card-header><mat-card-title>Resume Controls</mat-card-title></mat-card-header>
        <mat-card-content>
            <!-- <mat-form-field>
                <mat-select placeholder="Specialization" [value]="selectedSpecialization">
                    <mat-option value="reactive">Reactive/Streaming</mat-option>
                    <mat-option value="hardware-software">Hardware & Software</mat-option>
                    <mat-option value="fullstack">Full-stack Development</mat-option>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field> -->
            <a mat-raised-button matBadge="8" matBadgePosition="before" (click)="print()">
                Print</a>
        </mat-card-content>
    </mat-card>
</div>