<div class="resume-container">
    <div class="resume">
        <h1 class="resume-name">{{ profile.Name }}</h1>
        <div class="resume-headline">{{ profile.Headline }}</div>
        <div class="resume-info-bar">
            <mat-icon [inline]="true">email</mat-icon><a href="mailto:matt@gopitts.net">matt&#64;gopitts.net</a>
            <mat-icon [inline]="true">link</mat-icon><a href="https://linkedin.com/in/mattpitts">https://linkedin.com/in/mattpitts</a>
        </div>
        <div class="resume-grid">
            <div class="resume-left-column">
                <div class="resume-section-name">Experience</div>
                <div *ngFor="let experience of profile.Experience">
                    <div *ngFor="let position of experience.Positions">
                        <div class="position-title">{{ position.Title }}</div>
                        <div class="institution-name">{{ experience.Company }}</div>
                        <div class="resume-dates"><mat-icon [inline]="true">schedule</mat-icon>{{ position.StartDate }} - {{ position.EndDate }}</div>
                        <app-description [text]="position.Description"></app-description>
                    </div>
                </div>
                <div class="resume-section-name">Education</div>
                <div *ngFor="let i of profile.Education">
                    <div>{{ i.Subtitle }}</div>
                    <div class="institution-name">{{ i.Title }}</div>
                    <div class="resume-dates"><mat-icon [inline]="true">schedule</mat-icon>{{ i.StartDate }} - {{ i.EndDate }}</div>
                    <app-description [text]="i.Description"></app-description>
                </div>
            </div>

            <div class="resume-right-column">
                <div class="resume-section-name">Summary</div>
                <p>{{ profile.Summary }}</p>

                <div class="resume-section-name">Projects</div>
                <div *ngFor="let i of profile.Projects">
                    <div class="position-title">{{ i.Title }}</div>
                    <div class="resume-dates"><mat-icon [inline]="true">schedule</mat-icon>{{ i.StartDate }} - {{ i.EndDate }}</div>
                    <app-description [text]="i.Description"></app-description>
                </div>
            </div>
        </div>
    </div>
</div>