.resume-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    color: #384347;
    font-family: Rubik, Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif;
}

.resume {
    max-width: 940px;
    position: relative;
    width: 100%;
    background-color: white;
    padding: 3em;
}

.resume-grid {
    grid-auto-columns: 1fr 40%;
    column-gap: 16px;
    grid-auto-flow: column;
    display: grid;
}

.resume-section-name {
    font-weight: 400;
    color: #65696d;
    text-transform: uppercase;
    margin-top: 1em;
    border-bottom: 2px solid rgba(101, 105, 109, .5);
}

.resume-name {
    text-transform: uppercase;
}

.institution-name {
    color: rgb(0, 182, 203);
    font-weight: 400;
    margin-top: 4px;
}

.position-title {
    color: rgb(52, 51, 52);
    font-size: 17px;
    line-height: 20px;
    white-space: pre-wrap;
}

.description-section {
    font-family: Inter, Arial, Helvetica, "Noto Sans Devanagari", "Noto Sans CJK SC Thin", "Noto Sans SC", "Noto Sans Hebrew", sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-left: 1em;
}

.resume-subheader {
    font-size: small;
}

.resume-info-bar {
    padding: .5em;
}

.resume-info-bar mat-icon {
    padding-right: .25em;
    padding-left: 1em;
}