@use "@angular/material" as mat;
@use "./app/layout/layout-component.theme";
@use 'sass:map';

$theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
        use-system-variables: true),
      typography: (brand-family: 'Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif',
        bold-weight: 400,
        use-system-variables: false),
      density: (scale: -1)));

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

:root {
  @include mat.all-component-themes($theme);
  @include layout-component.theme($theme);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.skill {
  border-bottom: dashed 1px darkgray;
  font-style: italic;
}

@media print {
  .noprint {
    display: none !important;
  }

  .mdc-snackbar {
    display: none !important;
  }

  .print-nopagebreak {
    page-break-inside: avoid !important;
  }
}

.vertically-top {
  vertical-align: top;
}

.pull-right {
  float: right;
}

:root,
:host {
  --sys-background: #f7f9ff;
  --sys-on-background: #181c20;
  --sys-surface: #f7f9ff;
  --sys-surface-dim: #d8dae0;
  --sys-surface-bright: white;
  --sys-surface-container-lowest: #ffffff;
  --sys-surface-container-low: #f1f3f9;
  --sys-surface-container: #eceef3;
  --sys-surface-container-high: #e6e8ee;
  --sys-surface-container-highest: #e0e2e8;
  --sys-on-surface: #181c20;
  --sys-surface-variant: #dee3eb;
  --sys-on-surface-variant: #42474e;
  --sys-inverse-surface: #2d3135;
  --sys-inverse-on-surface: #eff1f6;
  --sys-outline: #72787e;
  --sys-outline-variant: #c2c7ce;
  --sys-shadow: #000000;
  --sys-scrim: #000000;
  --sys-surface-tint: #2d628b;
  --sys-primary: #2d628b;
  --sys-on-primary: #ffffff;
  --sys-primary-container: #cde5ff;
  --sys-on-primary-container: #0a4a72;
  --sys-inverse-primary: #9acbfa;
  --sys-secondary: #2d638b;
  --sys-on-secondary: #ffffff;
  --sys-secondary-container: #cde5ff;
  --sys-on-secondary-container: #084b72;
  --sys-tertiary: #6b538c;
  --sys-on-tertiary: #ffffff;
  --sys-tertiary-container: #eddcff;
  --sys-on-tertiary-container: #533c72;
  --sys-error: #904a43;
  --sys-on-error: #ffffff;
  --sys-error-container: #ffdad5;
  --sys-on-error-container: #73342d;
  --sys-neutral: #74777c;
  --sys-neutral-variant: #72787f;
  --sys-primary-fixed: #cde5ff;
  --sys-primary-fixed-dim: #9acbfa;
  --sys-on-primary-fixed: #001d32;
  --sys-on-primary-fixed-variant: #0a4a72;
  --sys-secondary-fixed: #cde5ff;
  --sys-secondary-fixed-dim: #99ccfa;
  --sys-on-secondary-fixed: #001d32;
  --sys-on-secondary-fixed-variant: #084b72;
  --sys-tertiary-fixed: #eddcff;
  --sys-tertiary-fixed-dim: #d7bafb;
  --sys-on-tertiary-fixed: #260e44;
  --sys-on-tertiary-fixed-variant: #533c72;
  --sys-inverse-secondary: #99ccfa;
  --sys-inverse-tertiary: #d7bafb;
  --sys-inverse-error: #ffb4ab;
  --sys-error-fixed: #ffdad5;
  --sys-error-fixed-dim: #ffb4ab;
  --sys-on-error-fixed: #3b0907;
  --sys-on-error-fixed-variant: #73342d;
  --mdc-elevated-card-container-color: var(--sys-surface-bright);
}