<div class="home-grid-container">
    <div class="home">
        <mat-card class="dashboard-card" appearance="raised">
            <mat-card-header>
                <mat-card-title>
                    <h1 class="mat-h1">Meet Matt Pitts</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <div>Hello, and thank you for visiting. This site is about me, a career software and engineering
                    professional,
                    and acts as a small demonstration of some of the technologies that I am experienced with using.
                </div>
            </mat-card-content>
        </mat-card>

        <div class="home-grid">
            <div class="home-first-column">
                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>
                            <h2>About This Site</h2>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>This site is meant to demonstrate some of my skills and experience throughout the entire
                            software
                            lifecycle.</p>
                        <p>The site itself is the result of an <a href="https://angular.dev" target="_blank">Angular</a>
                            application
                            that is built, tested,
                            packaged and deployed
                            into a hosting environment completely with <span class="skill">CI/CD (Continuous
                                Integration/Continuous
                                Delivery)</span>
                            automation. In addition, a REST API is built, tested and deployed from a Golang project that
                            provides a backend service for the Angular application.
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>
                            <h2>TL;DR - Just give me the highlights</h2>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <h5>What to look at here</h5>
                        <ul>
                            <li>My <a routerLink="/resume">personal résumé</a> rendered in realtime using data from my
                                LinkedIn profile via a backend Golang API</li>
                        </ul>
                        <h5>Links to the projects behind this site in Github</h5>
                        <ul>
                            <li><a href="https://github.com/invinity/mattpitts-site" target="_blank">This site's <i
                                        class="skill">Angular</i> project in
                                    Github</a></li>
                            <li><a href="https://github.com/invinity/linkedin-profile-grabber" target="_blank">This
                                    site's backing LinkedIn
                                    profile-grabber <span class="skill">Golang</span> project in Github</a></li>
                        </ul>
                        <h5>Tools, technologies and libraries used to author, build and host this site</h5>
                        <ul>
                            <li><a href="https://code.visualstudio.com/">Visual Studio Code</a> used as Integrated
                                Development Environment (IDE)</li>
                            <li><a href="https://angular.dev" target="_blank">Angular</a> use for client site framework
                            </li>
                            <li><a href="https://material.angular.io/" target="_blank">Angular Material</a> used for UI
                                components</li>
                            <li><a href="https://jasmine.github.io/" target="_blank">Jasmine</a> for automated testing
                                of Angular app
                            </li>
                            <li><a href="https://go.dev/" target="_blank">Go</a> used to write the backend REST API</li>
                            <li><a href="https://github.com/go-rod/rod" target="_blank">go-rod library</a> used for
                                interacting
                                with LinkedIn via Chrome DevTools</li>
                            <li><a href="https://github.com/onsi/ginkgo" target="_blank">Ginkgo</a> used for BDD testing
                                in
                                Golang</li>
                            <li><a href="https://www.docker.com/" target="_blank">Docker</a> used to construct container
                                for hosting the Go REST API</li>
                            <li><a href="https://docs.github.com/en/actions" target="_blank">Github Actions</a> used to
                                build and
                                deploy</li>
                            <li><a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/Welcome.html"
                                    target="_blank">Amazon Web Services (AWS) S3</a> used to store static site files
                                published from the Angular build
                            </li>
                            <li><a href="https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Introduction.html"
                                    target="_blank">Amazon Web Services (AWS) CloudFront</a> used to serve HTTPS
                                requests to the Angular site</li>
                            <li><a href="https://cloud.google.com/build?hl=en" target="_blank">Google Cloud Build</a>
                                used to
                                build and deploy Golang REST API</li>
                            <li><a href="https://cloud.google.com/run?hl=en" target="_blank">Google Cloud Run</a> used to
                                host
                                Golang REST API</li>
                            <li><a href="https://cloud.google.com/storage?hl=en" target="_blank">Google Cloud Storage</a> used to
                                provide cache-like storage of retrieved LinkedIn profile information for the REST backend</li>
                            <li><span class="skill">Domain Name System (DNS)</span></li>
                            <li><span class="skill">Transport Layer Security (TLS)</span></li>
                            <li><span class="skill">Representational State Transfer (REST)</span></li>
                        </ul>
                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>
                            <h3>Realtime Rendered Résumé</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>This site contains a component to render my <a routerLink="/resume">personal résumé</a>
                            as a web page using live
                            information from
                            my LinkedIn profile. This is accomplished using <a
                                href="https://github.com/invinity/linkedin-profile-grabber" target="_blank">another
                                project</a>, written in Golang, that
                            provides a simple
                            API to retrieve my Linkedin profile as JSON.
                            This it allows myself, or anyone else, to view a <a routerLink="/resume">formatted
                                résumé</a> that is always up-to-date
                            with my LinkedIn
                            profile.
                        </p>

                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>
                                <h3>Fully Automated Build, Test, Deploy</h3>
                            </mat-card-title>
                            <img alt="Github Actions latest result"
                                src="https://github.com/invinity/mattpitts-site/actions/workflows/ng-build-deploy.yml/badge.svg"
                                style="width: 217px; height: 25px; vertical-align: middle; margin: auto 0px;">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>
                            The <a href="https://github.com/invinity/mattpitts-site" target="_blank">Angular project</a>
                            backing this site has fully-automated CI/CD using <a
                                href="https://docs.github.com/en/actions" target="_blank">GitHub Actions</a>. The steps
                            are defined in a
                            <i>workflows</i> file contained
                            within the project's source and are executed each time there is a push to the
                            <code>main</code> branch of
                            the project. This means that any change to the project that is pushed or merged onto
                            the project's default <code>git</code> branch is automatically executed in the CI/CD
                            pipeline and the
                            application is re-deployed into is hosting environment.
                        </p>

                        <p>
                            In addition, the <a href="https://github.com/invinity/linkedin-profile-grabber"
                                target="_blank">Golang
                                project</a> providing the Linkedin profile API also has fully-automated CI/CD. But
                            instead of Github Actions,
                            this project is using <a href="https://cloud.google.com/build?hl=en" target="_blank">Google
                                Cloud Build</a>
                            to automatically pickup any commits to the Github repository and perform CI/CD automation.
                            This includes the construction of a <i>Docker</i> image for the Golang project and the
                            deployment of this
                            image into <a href="https://cloud.google.com/run?hl=en" target="_blank">Google Cloud Run</a>
                            for hosting.
                        </p>

                        <p>
                            As a developer, these CI/CD automations make the
                            development process so much smoother than if the process to deliver the code to production
                            was manual.
                            For my small project, this isn't specatular, but on a large project with many
                            team members, this is crucial to establishing agility in the software delivery
                            process. Teams get continuous feedback on their own changes as well as others', test
                            failures can be readily identified
                            and corrected, and the team is able to stay focused on code instead of the act of getting it
                            into its execution environment.
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>
                            <h3>Hosting of this site</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>
                            The <a href="https://github.com/invinity/mattpitts-site" target="_blank">Angular
                                application</a> for this site is hosted as a static website within an <span
                                class="skill">AWS (Amazon
                                Web Services) S3</span>
                            bucket. The bucket holds the site's constructed Angular output files, while an <span
                                class="skill">AWS CloudFront</span> distribution
                            is setup to serve the actual files via <span class="skill">HTTP</span> requests, as well as
                            providing <span class="skill">Transport Layer Security (TLS)</span> for the site.
                        </p>

                        <p>For the <a href="https://github.com/invinity/linkedin-profile-grabber" target="_blank">Golang
                                project</a> providing the Linkedin profile data for
                            myself, it is deployed
                            as a Docker
                            container into <a href="https://cloud.google.com/run?hl=en" target="_blank">Google Cloud
                                Run</a>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="home-second-column">
                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>
                            Links
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <a mat-raised-button matBadge="8" matBadgePosition="before"
                            href="https://linkedin.com/in/mattpitts" target="_blank">
                            My LinkedIn Profile
                        </a>
                        <a mat-raised-button matBadge="8" matBadgePosition="before" routerLink="/resume">My Résumé</a>

                        <a mat-raised-button matBadge="8" matBadgePosition="before"
                            href="https://github.com/invinity/mattpitts-site" target="_blank">Angular site frontend
                            project</a>

                        <a mat-raised-button matBadge="8" matBadgePosition="before"
                            href="https://github.com/invinity/linkedin-profile-grabber" target="_blank">Golang backend
                            API project</a>
                    </mat-card-content>
                </mat-card>

                <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light"
                    data-type="VERTICAL" data-vanity="mattpitts" data-version="v1"><a
                        class="badge-base__link LI-simple-link"
                        href="https://www.linkedin.com/in/mattpitts?trk=profile-badge"> </a></div>

            </div>
        </div>
    </div>
</div>