<div class="home-grid-container">
    <div class="home">
        <mat-card class="dashboard-card" appearance="raised">
            <mat-card-header>
                <mat-card-title>
                    <h1 class="mat-h1">Meet Matt Pitts</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <div>Hello, and thank you for visiting. This site is about me, a career software and engineering
                    professional,
                    and acts as a small demonstration of some of the technologies that I am experienced with using.
                </div>
            </mat-card-content>
        </mat-card>

        <div class="home-grid">
            <div class="home-first-column">
                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>
                            <h2>About This Site</h2>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>This site is meant to demonstrate some of my skills and experience throughout the entire
                            software
                            lifecycle.</p>
                        <p>The site itself is the result of an <a href="https://angular.dev" target="_blank">Angular</a>
                            application
                            that is built, tested,
                            packaged and deployed
                            into a hosting environment completely with <span class="skill">CI/CD (Continuous
                                Integration/Continuous
                                Delivery)</span>
                            automation. In addition, a REST API is built, tested and deployed from a Golang project that
                            provides a backend service for the Angular application.
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>
                            <h2>TL;DR - Just give me the highlights</h2>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <h5>Links to the projects behind this site in Github</h5>
                        <ul>
                            <li><a href="https://github.com/invinity/mattpitts-site" target="_blank">This site's <i
                                        class="skill">Angular</i> project in
                                    Github</a></li>
                            <li><a href="https://github.com/invinity/linkedin-profile-grabber" target="_blank">This
                                    site's backing LinkedIn
                                    profile-grabber <span class="skill">Golang</span> project in Github</a></li>
                        </ul>
                        <h5>Tools used to author, build and host this site</h5>
                        <ul>
                            <li><a href="https://code.visualstudio.com/">Visual Studio Code used as Integrated Development Environment (IDE)</a></li>
                            <li><a href="https://angular.dev" target="_blank">Angular for UI framework</a></li>
                            <li><a href="https://jasmine.github.io/" target="_blank">Jasmine for Typescript testing</a>
                            </li>
                            <li><a href="https://go.dev/" target="_blank">Golang for backend REST API</a></li>
                            <li><a href="https://github.com/onsi/ginkgo" target="_blank">Ginkgo for BDD testing in
                                    Golang</a></li>
                            <li><a href="https://docs.github.com/en/actions" target="_blank">Github Actions to build and
                                    deploy</a></li>
                            <li><a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/Welcome.htmll"
                                    target="_blank">Amazon Web Services (AWS) S3 storage to store static site files</a>
                            </li>
                            <li><a href="https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Introduction.html"
                                    target="_blank">Amazon Web Services (AWS) CloudFront to serve static site HTTP
                                    requests</a></li>
                            <li><a href="https://cloud.google.com/build?hl=en" target="_blank">Google Cloud Build to
                                    build and deploy Golang REST API</a></li>
                            <li><a href="https://cloud.google.com/run?hl=en" target="_blank">Google Cloud Run to host
                                    Golang REST API</a></li>
                            <li><span class="skill">Domain Name System (DNS)</span></li>
                            <li><span class="skill">Transport Layer Security (TLS)</span></li>
                            <li><span class="skill">Representational State Transfer (REST)</span></li>
                        </ul>
                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>
                            <h3>Realtime Rendered Résumé</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>This site contains a component to render my <a routerLink="/resume">personal résumé</a>
                            as a web page using live
                            information from
                            my LinkedIn profile. This is accomplished using <a
                                href="https://github.com/invinity/linkedin-profile-grabber" target="_blank">another
                                project</a>, written in Golang, that
                            provides a simple
                            API to retrieve my Linkedin profile as JSON.
                            This it allows myself, or anyone else, to view a <a routerLink="/resume">formatted résumé</a> that is always up-to-date
                            with my LinkedIn
                            profile.
                        </p>

                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>
                                <h3>Fully Automated Build, Test, Deploy</h3>
                            </mat-card-title>
                            <img alt="Github Actions latest result"
                                src="https://github.com/invinity/mattpitts-site/actions/workflows/ng-build-deploy.yml/badge.svg"
                                style="width: 217px; height: 25px; vertical-align: middle; margin: auto 0px;">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>
                            The <a href="https://github.com/invinity/mattpitts-site" target="_blank">Angular project</a> backing this site has fully-automated CI/CD using <a
                                href="https://docs.github.com/en/actions" target="_blank">GitHub Actions</a>. The steps
                            are defined in a
                            <i>workflows</i> file contained
                            within the project's source and are executed each time there is a push to the
                            <code>main</code> branch of
                            the project. This means that any change to the project that is pushed or merged onto
                            the project's default <code>git</code> branch is automatically executed in the CI/CD
                            pipeline and the
                            application is re-deployed into is hosting environment.
                        </p>

                        <p>
                            In addition, the <a href="https://github.com/invinity/linkedin-profile-grabber"
                                target="_blank">Golang
                                project</a> providing the Linkedin profile API also has fully-automated CI/CD. But
                            instead of Github Actions,
                            this project is using <a href="https://cloud.google.com/build?hl=en" target="_blank">Google
                                Cloud Build</a>
                            to automatically pickup any commits to the Github repository and perform CI/CD automation.
                            This includes the construction of a <i>Docker</i> images for the Golang project and the
                            deployment of this
                            image into <a href="https://cloud.google.com/run?hl=en" target="_blank">Google Cloud Run</a>
                            for hosting.
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>
                            <h3>Hosting of this site</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>
                            The <a href="https://github.com/invinity/mattpitts-site" target="_blank">Angular application</a> for this site is hosted as a static website within an <span
                                class="skill">AWS (Amazon
                                Web Services) S3</span>
                            bucket. The bucket holds the site's constructed Angular output files, while an <span
                                class="skill">AWS CloudFront</span> distribution
                            is setup to serve the actual files via <span class="skill">HTTP</span> requests, as well as
                            providing <span class="skill">Transport Layer Security (TLS)</span> for the site.
                        </p>

                        <p>For the <a href="https://github.com/invinity/linkedin-profile-grabber"
                            target="_blank">Golang project</a> providing the Linkedin profile data for
                            myself, it is deployed
                            as a Docker
                            container into <a href="https://cloud.google.com/run?hl=en" target="_blank">Google Cloud
                                Run</a>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="home-second-column">
                <mat-card class="dashboard-card" appearance="raised">
                    <mat-card-header>
                        <mat-card-title>
                            Links
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <a mat-raised-button matBadge="8" matBadgePosition="before"
                            href="https://linkedin.com/in/mattpitts" target="_blank">
                            My LinkedIn Profile
                        </a>
                        <a mat-raised-button matBadge="8" matBadgePosition="before" routerLink="/resume">My Résumé</a>

                        <a mat-raised-button matBadge="8" matBadgePosition="before"
                            href="https://github.com/invinity/mattpitts-site" target="_blank">Angular site frontend project</a>

                        <a mat-raised-button matBadge="8" matBadgePosition="before"
                            href="https://github.com/invinity/linkedin-profile-grabber" target="_blank">Golang backend API project</a>
                    </mat-card-content>
                </mat-card>

                <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light" data-type="VERTICAL" data-vanity="mattpitts" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://www.linkedin.com/in/mattpitts?trk=profile-badge"> </a></div>
              
            </div>
        </div>
    </div>
</div>