<div class="home-grid-container">
    <div class="home">
        <mat-card class="dashboard-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>
                    <h1 class="mat-h1">Meet Matt Pitts</h1>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content">
                <div>Hello, and thank you for visiting. This site is about me, a career software and engineering
                    professional,
                    and acts as a small demonstration of some of the technologies that I am experienced with using.
                </div>
            </mat-card-content>
        </mat-card>

        <div class="home-grid">
            <div class="home-first-column">
                <mat-card class="dashboard-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>
                            <h2>TL;DR - Just take me to the good stuff</h2>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <ul>
                            <li><a href="https://github.com/invinity/mattpitts-site" target="_blank">This site's <i
                                        class="skill">Angular</i> project in
                                    Github</a></li>
                            <li><a href="https://github.com/invinity/linkedin-profile-grabber" target="_blank">This
                                    site's backing LinkedIn
                                    profile-grabber <span class="skill">Golang</span> project in Github</a></li>
                        </ul>
                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>
                            <h2>About This Site</h2>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>This site is meant to demonstrate some of my skills and experience throughout the entire
                            software
                            lifecycle.</p>
                        <p>The site itself is the result of an <a href="https://angular.dev" target="_blank">Angular</a>
                            application
                            that is built, tested,
                            packaged and deployed
                            into a hosting environment completely with <span class="skill">CI/CD (Continuous
                                Integration/Continuous
                                Delivery)</span>
                            automation.
                            The source code for the project
                            is hosted as a public github repository <a href="https://github.com/invinity/mattpitts-site"
                                target="_blank">here</a>
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>
                            <h3>Realtime Rendered Resume</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>This site also contains a component to render my <a routerLink="/resume">personal resume</a>
                            as a web page using live
                            information from
                            my LinkedIn profile. This is accomplished using <a
                                href="https://github.com/invinity/linkedin-profile-grabber" target="_blank">another
                                project</a>, written in Golang, that
                            provides a simple
                            API to retrieve my Linkedin profile as JSON.
                            This it allows myself, or anyone else, to view a formatted resume that is always up-to-date
                            with my LinkedIn
                            profile.
                        </p>

                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title-group>
                            <mat-card-title>
                                <h3>Fully Automated Build, Test, Deploy</h3>
                            </mat-card-title>
                            <img alt="Github Actions latest result" src="https://github.com/invinity/mattpitts-site/actions/workflows/ng-build-deploy.yml/badge.svg" style="width: 217px; height: 25px; vertical-align: middle; margin: auto 0px;">
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>
                            This Angular project backing this site has fully-automated CI/CD using <a
                                href="https://docs.github.com/en/actions" target="_blank">GitHub Actions</a>. The steps
                            are defined in a
                            <i>workflows</i> file contained
                            within the project's source and are executed each time there is a push to the
                            <code>main</code> branch of
                            the project. This means that any change to the project that is pushed or merged onto
                            the project's default <code>git</code> branch is automatically executed in the CI/CD
                            pipeline and the
                            application is re-deployed into is hosting environment.
                        </p>

                        <p>
                            In addition, the <a href="https://github.com/invinity/linkedin-profile-grabber"
                                target="_blank">Golang
                                project</a> providing the Linkedin profile API also has fully-automated CI/CD. But
                            instead of Github Actions,
                            this project is using <a href="https://cloud.google.com/build?hl=en" target="_blank">Google
                                Cloud Build</a>
                            to automatically pickup any commits to the Github repository and perform CI/CD automation.
                            This includes the construction of a <i>Docker</i> images for the Golang project and the
                            deployment of this
                            image into <a href="https://cloud.google.com/run?hl=en" target="_blank">Google Cloud Run</a>
                            for hosting.
                        </p>
                    </mat-card-content>
                </mat-card>

                <mat-card class="dashboard-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>
                            <h3>Hosting of this site</h3>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <p>
                            The Angular application for this site is hosted as a static website within an <span
                                class="skill">AWS (Amazon
                                Web Services) S3</span>
                            bucket. The bucket holds the site's constructed Angular output files, while an <span
                                class="skill">AWS CloudFront</span> distribution
                            is setup to serve the actual files via <span class="skill">HTTP</span> requests, as well as
                            providing <span class="skill">Transport Layer Security (TLS)</span> for the site.
                        </p>

                        <p>For the <span class="skill">Golang</span> project providing the Linkedin profile data for
                            myself, it is deployed
                            as a Docker
                            container into <a href="https://cloud.google.com/run?hl=en" target="_blank">Google Cloud
                                Run</a>
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="home-second-column">
                <mat-card class="dashboard-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>
                            Links
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="dashboard-card-content">
                        <a mat-raised-button matBadge="8" matBadgePosition="before"
                            href="https://linkedin.com/in/mattpitts" target="_blank">
                            LinkedIn
                        </a>
                        <a mat-raised-button matBadge="8" matBadgePosition="before" routerLink="/resume">Resume</a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>